.vs
out
_ReSharper.Caches
CMakeSettings.json
tests.ipynb
__pycache__
demo.py
.vscode/settings.json
.idea
citePy11/extern
citePyExample/extern
build
venv
/citePyExample/cmake-build-debug/
/citePy11.egg-info
